.TickerWrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgba(0, 0, 0, .05);
    display: flex;
    justify-self: center;
    align-items: center;
}

.Ticker {
    flex: 5;
    height: 5vh;
    border-left: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    background-color: transparent;
    font-size: .75rem;
    overflow: hidden;
}

@keyframes slidein {
    0% {
        transform: translateX(55%);
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.TickerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    animation: slidein 180s linear infinite;
    white-space: nowrap;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
    font-weight: bold;
    font-size: 1rem;
}

.LearnMore {
    height: 3.5vh;
    width: 20%;
    overflow: scroll;
    color: black;
    transition: .2s all ease-in-out;
    cursor: pointer;
    font-size: small;
    font-style: italic;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-width: 2px;
    background: linear-gradient(130deg, rgb(254, 254, 254) 0%, rgb(244, 244, 244) 45%, rgb(255, 255, 255) 100%) padding-box, linear-gradient(to right, #c59e3e, #d9ba66a9) border-box;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.LearnMore:hover {
    background-color: rgba(167, 167, 167, 0.05);
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
    background: linear-gradient(rgb(30, 115, 189), rgb(12, 82, 144)) padding-box,
        linear-gradient(to right, #c59e3e, #d9ba66a9) border-box;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.LearnMore:active {
    color: var(--color4);
    background: rgba(0, 0, 0, .15);
}