.Column {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin: 1rem 0.25rem;
}

.WideColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 4;
    margin: 1rem 0.25rem;
}

.Toggle {
    opacity: .5;
}

.TileWrapper {
    width: 100%;
}