.TopNews {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: scroll;
}

.TopNewsHead {
    color: rgb(30, 115, 189);
    width: 100%;
    transition: .2s all ease-in-out;
    font-weight: bold;
    margin: .5rem 0;
    font-size: 1.5rem;
}

.TopNewsCard {
    padding: .25rem .5rem;
    transition: .2s all ease-in-out;
    font-weight: 500;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    margin: .25rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

.TopNewsCard:hover {
    background-color: rgba(0, 0, 0, .05);
    color: rgb(77, 77, 77);
    box-shadow: 1px 1px 25px rgba(0, 0, 0, .125);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.TopNewsCard:active {
    color: black;
    transform: scale(.9);
}

.TopNewsCardSelected {
    padding: .25rem .5rem;
    transition: .2s all ease-in-out;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .2);
    color: black;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, .125);
}