.Tile {
    width: 100%;
    margin: .25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    color: white;
    transition: .2s all ease-in-out;
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
    font-size: small;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
    overflow: hidden;
}

.HasToggleTile {
    width: 100%;
    margin: .25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    color: white;
    transition: .2s all ease-in-out;
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
    font-size: small;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
    overflow: hidden;
    background: rgba(255, 255, 255, .015);
    background: linear-gradient(rgb(76, 106, 77), rgb(76, 101, 66)) padding-box,
        linear-gradient(to right, #847653, #d9ba66a9) border-box;
    border: 2px solid transparent;
}

.Tile2 {
    width: 100%;
    margin: .25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    color: white;
    transition: .2s all ease-in-out;
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
    font-size: small;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
    overflow: hidden;
    background: rgba(255, 255, 255, .015);
    opacity: .25;
    border: 2px solid transparent;
}

.DarkTile {
    width: 100%;
    margin: .25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    color: white;
    transition: .2s all ease-in-out;
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
    font-size: small;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
    overflow: hidden;
    background: rgba(255, 255, 255, .015);
    opacity: .25;
}

.Tile:hover {
    background-color: rgba(255, 255, 255, .05);
    color: rgb(211, 211, 211);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
}

.Tile:active {
    color: var(--color4);
    background: rgba(0, 0, 0, .15);
}

.Tile2:hover {
    background-color: rgba(255, 255, 255, .05);
    color: rgb(211, 211, 211);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
}

.Tile2:active {
    color: var(--color4);
    background: rgba(0, 0, 0, .15);
}

.TileHeader {
    font-weight: bold;
    padding: .5rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
}

.EnverusImage {
    object-fit: cover;
    width: 100%;
}

.TileCard {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ToggleDiv {
    margin: .5rem 0;
}

.TitleDiv {
    margin: .5rem 0;
    font-weight: 700;
}

.DataDiv {
    font-weight: 300;
    font-style: italic;
    font-size: smaller;
}