.Tile {
    width: 100%;
    margin: .25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    color: black;
    transition: .2s all ease-in-out;
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
    font-size: small;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
    overflow: hidden;
}

.HasToggleTile {
    width: 100%;
    margin: .25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    color: white;
    transition: .2s all ease-in-out;
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
    font-size: small;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
    overflow: hidden;
    background: rgba(255, 255, 255, .015);
    background: linear-gradient(rgb(30, 115, 189), rgb(12, 82, 144)) padding-box,
        linear-gradient(to right, #c59e3e, #d9ba66a9) border-box;
    border: 2px solid transparent;
}

.Tile2 {
    width: 100%;
    margin: .25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    color: black;
    transition: .2s all ease-in-out;
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
    font-size: small;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
    overflow: hidden;
    background: rgba(255, 255, 255, .015);
    opacity: .75;
    border: 2px solid transparent;
}

.TopNewsTile {
    width: 100%;
    margin: .25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    color: black;
    transition: .2s all ease-in-out;
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
    font-size: small;
    overflow: hidden;
    background: rgba(255, 255, 255, .015);
    border: 2px solid transparent;
}

.DarkTile {
    width: 100%;
    margin: .25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    color: white;
    transition: .2s all ease-in-out;
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
    font-size: small;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
    overflow: hidden;
    background: rgba(255, 255, 255, .015);
    opacity: .25;
}

.TileChart {
    width: 100%;
    margin: .25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    color: black;
    transition: .2s all ease-in-out;
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
    font-size: small;
    overflow: hidden;
    background: rgba(255, 255, 255, .015);
}

.Tile:hover {
    background-color: rgba(255, 255, 255, .05);
    color: rgb(211, 211, 211);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
}

.Tile:active {
    color: var(--color4);
    background: rgba(0, 0, 0, .15);
}

.Tile2:hover {
    background-color: rgba(255, 255, 255, .05);
    color: rgb(211, 211, 211);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
}

.Tile2:active {
    color: var(--color4);
    background: rgba(0, 0, 0, .15);
}

.TileHeader {
    font-weight: bold;
    padding: .5rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
}

.EnverusImage {
    object-fit: cover;
    width: 100%;
}

.TileCard {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ToggleDiv {
    margin: .5rem 0;
}

.TitleDiv {
    margin: .05rem 0;
    font-weight: 500;
    display: flex;
    font-size: medium;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.DataDiv {
    font-weight: 550;
    font-style: italic;
    font-size: large;
    padding-bottom: 10px;
}

@media (min-width: 1000px) {
    .EnverusImage {
        object-fit: cover;
        width: 210px;
        padding-top: auto;
        padding-bottom: auto
        ;
    }
}