.ComponentBar {
    margin: -1rem 0.25rem 0.5rem .25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: scroll;
    color: white;
    transition: .2s all ease-in-out;
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
    height: 5vh;
}