.ComponentBar {
    margin: -1rem .5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: scroll;
    color: black;
    transition: .2s all ease-in-out;
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
    height: 9vh;
}