.Chart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.ChartDiv {
    width: 100%;
}

@media (min-width: 800px) {
    .ChartDiv {
        width: 75%;
    }
}


button {
    background: transparent;
    border: none;
    color: white;
    transition: .1s all ease-in-out;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: transparent;
}

button:active {
    transform: scale(.8);
}