.Chart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-style: italic;
    width: 500px;
}

.ChartDiv {
    width: 500px;
}

@media (min-width: 800px) {
    .Chart {
        width: 600px;
        height: 200px;
    }

    .ChartDiv {
        width: 600px;
        height: 200px;
    }
}

@media (min-width: 1000px) {
    .Chart {
        width: 675px;
        height: 200px;
    }

    .ChartDiv {
        width: 675px;
        height: 200px;
    }
}

button {
    background: transparent;
    border: none;
    color: white;
    transition: .1s all ease-in-out;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: transparent;
}

button:active {
    transform: scale(.8);
}