.Buttons {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: scroll;
    color: white;
    transition: .2s all ease-in-out;
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem 0;
}

.Component:hover {
    background-color: rgba(255, 255, 255, .05);
    color: rgb(211, 211, 211);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
}

.Component:active {
    color: var(--color4);
    background: rgba(0, 0, 0, .15);
}

.ComponentHeader {
    font-weight: bold;
    padding: .5rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
}

.Link {
    font-style: italic;
}

@media (max-width: 800px) {
    .Buttons {
        overflow: scroll;
        justify-content: start;
    }

}

.active {
    color: pink;
}

.not {
    color: blue;
}