.NewsColumns {
    display: flex;
    justify-content: space-between;
}

.NewsColumn {
    overflow: scroll;
    width: 100%;
    flex-direction: column;
    background: rgba(255, 255, 255, .015);
    height: 33vh;
}

.NewsColumn::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.NewsHeading {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}

.NewsHead {
    width: 100%;
    font-weight: bold;
    color: rgb(30, 115, 189);
    justify-content: space-between;
    padding: .5rem 0;
    border-top: 3px solid rgba(0, 0, 0, .1);
    border-bottom: 3px solid rgba(0, 0, 0, .1);
}

.NewsTitle {
    width: 100%;
    font-weight: bold;
    color: black;
    justify-content: space-between;
    padding: .5rem 0;
}

.News {
    display: grid;
    overflow: hidden;
}

.NewsList {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

.NewsTitle {
    font-size: 1rem;
    width: 95%;
}

.NewsCard {
    width: 100%;
    font-size: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    overflow: hidden;
    font-size: 1;
    transition: .2s all ease-in-out;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    cursor: pointer;
    background: rgba(255, 255, 255, .015);
    border-bottom: 1px solid rgba(0, 0, 0, .1);

}

.NewsCard:hover {
    background-color: rgba(0, 0, 0, .05);
    color: rgb(211, 211, 211);
    box-shadow: 1px 1px 25px rgba(0, 0, 0, .125);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
}

.NewsCard:active {
    color: var(--color4);
}

.NewsDesc {
    width: 95%;
}

.NewsInfo {
    width: 90%;
}

.ShowButton {
    width: 80%;
    margin: .5rem 0 1rem 0;
    padding: .5rem;
    flex: 1;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .25);
    border-radius: 10px;
    color: black;
}

.SeeMoreButton {
    color: black;
    opacity: .5;
    transition: .2s all ease-in-out;
    cursor: pointer;
}

.SeeMoreButton:hover {
    opacity: 1;
}