.App {
  text-align: center;

  /* background: rgb(159, 159, 159);
  background: linear-gradient(130deg, rgb(24, 24, 24) 0%, rgb(39, 36, 39) 45%, rgb(24, 24, 24) 100%); */

  background: linear-gradient(130deg, rgb(44, 87, 29) 0%, rgb(80, 109, 81) 45%, rgb(25, 49, 28) 100%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: rgb(197, 193, 193);
  --color1: #2f2f2f;
  --color2: #ffffff;
  --color3: #a6a6a6;
  --color4: #595959;
  --color5: #000000;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  transition: .2s all ease-in-out;
}

a:hover {
  color: var(--primary-color);
  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0)
}

p {
  font-style: italic;
}