.NavBar {
    height: 10vh;
    width: 100%;
    background: transparent;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: .25rem 0;
}

.LeftSideNavBar {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.RightSideNavBar {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    margin: 0 2rem 0 0;
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 2rem;
    /* background: linear-gradient(130deg, rgb(236, 236, 236) 0%, rgba(136, 67, 139, 1) 45%, rgb(239, 136, 136) 100%); */
    background: linear-gradient(130deg, rgb(198, 197, 197) 0%, rgb(255, 255, 255) 45%, rgb(236, 236, 236) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    font-weight: 200;
}

.SubTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    font-style: italic;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    margin: 0.25rem .5rem 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Icon {
    cursor: pointer;
    transition: .2s all ease-in-out;
    font-size: 1.5rem;
    height: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 15px rgba(255, 255, 255, .25);
    transition: .2s all ease-in-out;
}

.Icon:hover {
    box-shadow: 1px 1px 118x rgba(255, 255, 255, .75);
    color: rgb(211, 211, 211);
    transform: scale(1.05);
}


.IconActive {
    opacity: .3;
}

.Icon:active {
    color: var(--color4);
    transform: scale(.8);
}

.Menu {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    height: 25vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, .25);
    border-radius: 10px;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.05);
    color: white;
    z-index: 1;
    top: 7vh;
    right: 0%;
    transform: translateX(100%);
    transition: .2s all ease-in-out;
}

.MenuActive {
    transform: translateX(0%)
}

@media (max-width: 600px) {
    .Title {
        font-size: 1.5rem;
    }
}